body {
    background: url("/images/ember-bg.svg") #faf4f1 top center no-repeat;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    .index {
        .index-header {
            text-align: center;
            margin: auto;
            width: 70%;
            .meetup-logo {
                height: 250px;
            }
            h1 {
                margin: 20px;
                font-size: 55px;
            }
            p {
                margin: 10px;
                font-style: italic;
                font-size: 20px;
            }
        }
        .page-header {
            text-align: center;
            > h2 {
                font-size: 35px;
                font-style: italic;
            }
        }
    }
    .meetup-feed {
        text-align: justify;
        article {
            margin: auto;
            width: 500px;
        }
    }
}