<ul>
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li>{{#link-to "members"}}Members{{/link-to}}</li>
  <li>{{#link-to "talks"}}Talks{{/link-to}}</li>
  <li>{{#link-to "projects"}}Projects{{/link-to}}</li>
  <li>{{#link-to "jobs"}}Jobs{{/link-to}}</li>
</ul>
<article>
  <section>
    {{outlet}}
  </section>
  <footer>
    <i>Built with Ember, with Fastboot, on Heroku!</i>
  </footer>
</article>

