<article class="index">
  <header class="index-header">
    <img class="meetup-logo" src="/images/raleigh-tomster.png">
    <h1>Triangle Ember</h1>
    <p>A open source community of ambitious Emberitos and Emberitas from Raleigh, Durham, Chapel Hill, and surrounding communities</p>
  </header>
  <section class="page-header">
    <h2>Upcoming Events</h2>
    {{meetup-feed events=model}}
  </section>
</article>

